<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div style="margin:100px;">
    <h1> 안녕하세요.</h1>
    <h1> 일정 관리 서비스 Plannet 입니다.</h1>
    <br>
    <h2>Plannet</h2>
    <h3>Let's plan it!</h3>
    <p>오늘의 끝에서 내일을 계획하다.
        <br/> 하루의 끝에서 오늘을 되돌아보며 정리할 수 있는 플래너.
        <br/> Plannet은 하루의 시작부터 마무리까지
        <br/> 일정을 계획해 성취하도록 돕습니다.
        <br/> 오늘 느낀 감정을 소소하게 적어보세요.
        <br/> 내일의 일정 또한 완벽하게 작성 할 수 있을 것입니다.
    </p>
    <br>
    <p> 아래 코드를 회원가입 창으로 돌아가 입력해주세요.</p>
    <br>

    <div align="center" style="border:1px solid black; font-family:verdana;">
        <h3 style="color:blue"> 회원가입 인증 코드 입니다. </h3>
        <div style="font-size:130%" th:text="${code}"> </div>
    </div>
    <br/>
</div>


</body>
</html>